#lista {
    /* list-style: decimal !important; */
    display: inline-flexbox;
}

ol>.list-group-item {
    display: list-item !important;
    list-style-position: inside;
}

.checkBox {
    margin-right: 2%;
}

.done {
    text-decoration: line-through;
}

.footerId {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 0%;
    padding-bottom: 10px;
    background-color: rgb(117, 170, 201);
}

.FooterPar {
    color: black;
    font-family: cursive;
}