#lista {
    list-style: decimal !important;
    display: inline-flexbox;
}

#Lista>li {
    list-style-type: decimal !important;
}

.checkBox {
    margin-right: 2%;
}

.done {
    text-decoration: line-through;
}